extends layout

block content
  - var time_remaining = (exp - iat) / 60 
  div.col-12 
    div.row.first-row
      h4.mx-auto= page_title 
    hr 

    div.row.section-block
      div.card.bg-dark.col-12 
        div.card-header.text-white.d-flex.justify-content-between 
          div
            i.fas.fa-user-lock 
            span Welcome #{username}
          div.clock#clock loading ... 
        div.card-body.bg-dark
          table.table.table-striped.table-dark
            tbody
              tr
                td IssuedAt
                td#iat #{iat}
              tr
                td Expires
                td#exp #{exp}
              tr
                td Time Remaining
                td #{time_remaining} minutes
    
    div.row.section-block
      div.col-12.col-md-12.mx-auto 


